In [2]:
%run import_packages/import_packages.ipynb

%run function/functions.ipynb

In [3]:
applications,jobs,test_users,users,users_history = import_csv()

In [4]:
jobs["Description"] = clean_html(jobs,"Description")

jobs["Requirements"] = jobs["Requirements"].fillna("no requirements")
jobs["Requirements"] = clean_html(jobs,"Requirements")

In [5]:
#!pip install sentence-transformers

from sentence_transformers import SentenceTransformer
model = SentenceTransformer('bert-base-uncased')

WARNING:root:No sentence-transformers model found with name /Users/sylvainjiang/.cache/torch/sentence_transformers/bert-base-uncased. Creating a new one with MEAN pooling.
Some weights of the model checkpoint at /Users/sylvainjiang/.cache/torch/sentence_transformers/bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [6]:
jobs["text_embedding"] = jobs.Title.apply(lambda x:model.encode(x))

In [7]:
jobs

,JobID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate,text_embedding
0,75,Administrative Assistant,The Administrative Assistant must be reliable ...,Please refer to the Job Description to view th...,Houston,TX,US,77036.0,2012-03-30 01:23:57.737,2012-04-29 23:59:59,"[-0.007833853, 0.14798518, -0.39389515, 0.1597..."
1,505,LAB TECH,S. Florida Medical Device Co. seeks QC Lab Tec...,General knowledge of scientific or clinical la...,Plantation,FL,US,33313.0,2012-03-23 04:48:17.063,2012-04-22 23:59:59,"[0.20930749, -0.37957147, -0.28042608, 0.02645..."
2,764,Travel-Seasonal Staff,Travel-Seasonal Staff CB331736 Rosemont 2hr...,Please refer to the Job Description to view th...,Des Plaines,IL,US,60018.0,2012-03-18 05:19:04.863,2012-04-17 23:59:59,"[0.08401955, 0.31255236, 0.06262132, 0.086869,..."
3,766,MARKETING/ Social Media intern,Marketing Rep CB326227 Chicago Apply By Ema...,Please refer to the Job Description to view th...,Chicago,IL,US,60606.0,2012-03-22 10:33:46.89,2012-04-21 23:59:59,"[0.34554133, 0.04740264, -0.02821699, -0.02829..."
4,781,Printing Sales,"Printing Sales Experienced, outside sales with...",Please refer to the Job Description to view th...,Schiller Park,IL,US,60176.0,2012-04-01 01:16:40.797,2012-04-30 23:59:59,"[0.49098462, 0.2779984, -0.31985313, 0.1622207..."
...,...,...,...,...,...,...,...,...,...,...,...
4286,1115583,Implementation Consultant - Virtual,"Luceo Solutions, LLC creates cloud based solut...","3+ years of project management experience,...",Chicago,IL,US,NaN,2012-03-27 15:50:52.623,2012-04-26 23:59:59,"[-0.2231522, -0.10989037, -0.33687654, 0.12387..."
4287,1115739,Auto Finance Manager,Auto Finance ManagerAUTO Gurnee VWFinance ...,Auto dealership experience a must! Stro...,Gurnee,IL,US,60031.0,2012-04-11 16:32:03.237,2012-05-10 23:59:59,"[0.24724302, -0.20970175, -0.1628867, 0.078699..."
4288,1115740,Import Auto Sales,"Auto SalesAuto Sales Schaumburg, ILBob ...",Excellent communication and customer servi...,Schaumburg,IL,US,60173.0,2012-04-22 17:30:02.78,2012-05-21 23:59:59,"[0.49811524, 0.15589216, 0.038512986, 0.132860..."
4289,1115747,Automotive Sales / Auto Sales / New & Pre-Owne...,Automotive Sales / Auto Sales / New & Pre-Owne...,Demonstrated leadership abilities Supe...,Libertyville,IL,US,60048.0,2012-03-26 09:45:32.863,2012-04-25 23:59:59,"[0.47247127, 0.02970176, 0.57136554, 0.2886786..."
4290,1115925,Normal - Instore Retail Banker,Retail Banker (In-Store) Demonstrate excellen...,Education High school diploma or equivalent ...,Normal,IL,US,61761.0,2012-04-04 15:05:34.417,2012-05-03 23:59:59,"[0.28321928, -0.41361502, 0.13981432, 0.059541..."

In [8]:
predict_list = test_preprocessing()

In [9]:
predict_list

,UserID,JobTitle,text_embedding
0,12924,Substitute Teacher,"[-0.0026329756, -0.19665325, -0.49724612, 0.15..."
1,12924,Customer Service/ Sales Representative,"[0.084989116, -0.20626657, 0.06568836, 0.09980..."
2,12924,Homemaker,"[0.001484096, -0.24982494, -0.004183419, -0.14..."
3,18947,Receiving Supervisor-Operations,"[-0.02271839, -0.06637115, -0.36689684, 0.0323..."
4,18947,Lead Set-Up- Operations,"[0.05685339, -0.14860526, -0.47306323, 0.01697..."
...,...,...,...
1006,1466313,"Director, Strategic Planning and Business Deve...","[-0.47437122, -0.029350854, -0.026192266, -0.1..."
1007,1471500,Stocker,"[0.29052943, -0.27675667, -0.017016292, -0.308..."
1008,1471500,Cocktail Server,"[0.08232073, -0.27491677, -0.22329877, 0.09526..."
1009,1471500,ICS Associate /Overnight Stock/Truck Unloader,"[0.06758036, -0.39562687, 0.060328696, 0.09905..."
1010,1471500,Server,"[-0.106515825, -0.28575912, -0.24387848, 0.060..."

In [10]:
predict_list = predict_job(predict_list,jobs)

In [11]:
predict_list

,UserID,JobTitle,text_embedding,predict_id,predict_job,similarity
0,12924,Substitute Teacher,"[-0.0026329756, -0.19665325, -0.49724612, 0.15...","[161517, 800274, 584719]","[Senior Education Coordinator, ADMINISTRATIVE ...","[0.7918394804000854, 0.7842969298362732, 0.784..."
1,12924,Customer Service/ Sales Representative,"[0.084989116, -0.20626657, 0.06568836, 0.09980...","[987728, 500681, 999469]","[Customer Service/Sales Coordinator, Customer ...","[0.961249828338623, 0.9486912488937378, 0.9348..."
2,12924,Homemaker,"[0.001484096, -0.24982494, -0.004183419, -0.14...","[300776, 362517, 823088]","[Die maker, Career Change!, Consumer Collector]","[0.7880907654762268, 0.7628033757209778, 0.761..."
3,18947,Receiving Supervisor-Operations,"[-0.02271839, -0.06637115, -0.36689684, 0.0323...","[1024404, 382173, 479023]","[Training Manager - Operations, Part-time Ware...","[0.8648204803466797, 0.845349907875061, 0.8399..."
4,18947,Lead Set-Up- Operations,"[0.05685339, -0.14860526, -0.47306323, 0.01697...","[1024404, 633100, 6023]","[Training Manager - Operations, Staffing On-Si...","[0.8289006948471069, 0.8143666386604309, 0.809..."
...,...,...,...,...,...,...
1006,1466313,"Director, Strategic Planning and Business Deve...","[-0.47437122, -0.029350854, -0.026192266, -0.1...","[845880, 771661, 142826]","[Director, Business Development and Sales, Dir...","[0.9193586707115173, 0.8865780830383301, 0.867..."
1007,1471500,Stocker,"[0.29052943, -0.27675667, -0.017016292, -0.308...","[734275, 969928, 206381]","[Stocker, Biller, Welder]","[0.9999998807907104, 0.9226150512695312, 0.743..."
1008,1471500,Cocktail Server,"[0.08232073, -0.27491677, -0.22329877, 0.09526...","[521862, 946711, 505]","[Bartender, Hospital Housekeeper, LAB TECH]","[0.8566378951072693, 0.8412854671478271, 0.832..."
1009,1471500,ICS Associate /Overnight Stock/Truck Unloader,"[0.06758036, -0.39562687, 0.060328696, 0.09905...","[184085, 987144, 1090011]","[Bulk Express Dispatcher/Scheduler, Forklift/W...","[0.8173261880874634, 0.8106752634048462, 0.796..."
1010,1471500,Server,"[-0.106515825, -0.28575912, -0.24387848, 0.060...","[598446, 249108, 549390]","[Server, WAREHOUSE, WAREHOUSE]","[0.9999998807907104, 0.8933239579200745, 0.893..."